In [2]:
import requests
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
import pytz
import pandas as pd
import matplotlib.dates as mdates
import argparse

In [3]:
price_area = 'dk1'.upper()

url = "https://api.energidataservice.dk/dataset/Elspotprices"
params = {
            'start': datetime.now(pytz.timezone('Europe/Copenhagen')).strftime('%Y-%m-%d'),
            'end': (datetime.now(pytz.timezone('Europe/Copenhagen')) + timedelta(days=1)).strftime('%Y-%m-%d'),
            'filter': f'{{"PriceArea":"{price_area}"}}',
            'sort': 'HourDK'
        }

response = requests.get(url, params=params)

## Og så tester vi koden

In [7]:
data = response.json().get('records', [])

#if not data:
#    raise ValueError(f"Ingen prisdata modtaget fra API'et for region {region}")
                
# Konvertér til pandas DataFrame for nemmere databehandling
df = pd.DataFrame(data)
df['HourDK'] = pd.to_datetime(df['HourDK'])

# Konvertér øre/kWh til kr/kWh (SpotPriceDKK er i kr/MWh)
df['SpotPriceDKK_kWh'] = df['SpotPriceDKK'] / 1000

# Tilføj afgifter (dette er eksempelværdier - brug aktuelle satser)
moms_rate = 0.25  # 25% moms
elafgift = 0.699  # kr/kWh (eksempelværdi)
systemtarif = 0.054  # kr/kWh (eksempelværdi)
nettarif = 0.213  # kr/kWh (eksempelværdi)

# Beregn total pris inklusive afgifter
df['TotalPris'] = df['SpotPriceDKK_kWh'] + elafgift + systemtarif + nettarif
df['TotalPrisMedMoms'] = df['TotalPris'] * (1 + moms_rate)

In [8]:
df

,HourUTC,HourDK,PriceArea,SpotPriceDKK,SpotPriceEUR,SpotPriceDKK_kWh,TotalPris,TotalPrisMedMoms
0,2025-02-24T23:00:00,2025-02-25 00:00:00,DK1,645.049988,86.459999,0.64505,1.61105,2.013812
1,2025-02-25T00:00:00,2025-02-25 01:00:00,DK1,670.789978,89.910004,0.67079,1.63679,2.045987
2,2025-02-25T01:00:00,2025-02-25 02:00:00,DK1,689.510010,92.419998,0.68951,1.65551,2.069388
3,2025-02-25T02:00:00,2025-02-25 03:00:00,DK1,689.659973,92.440002,0.68966,1.65566,2.069575
4,2025-02-25T03:00:00,2025-02-25 04:00:00,DK1,703.690002,94.320000,0.70369,1.66969,2.087113
5,2025-02-25T04:00:00,2025-02-25 05:00:00,DK1,772.179993,103.500000,0.77218,1.73818,2.172725
6,2025-02-25T05:00:00,2025-02-25 06:00:00,DK1,1044.489990,140.000000,1.04449,2.01049,2.513112
7,2025-02-25T06:00:00,2025-02-25 07:00:00,DK1,1210.790039,162.289993,1.21079,2.17679,2.720988
8,2025-02-25T07:00:00,2025-02-25 08:00:00,DK1,1261.219971,169.050003,1.26122,2.22722,2.784025
9,2025-02-25T08:00:00,2025-02-25 09:00:00,DK1,1127.750000,151.160004,1.12775,2.09375,2.617188
10,2025-02-25T09:00:00,2025-02-25 10:00:00,DK1,1006.289978,134.880005,1.00629,1.97229,2.465362
11,2025-02-25T10:00:00,2025-02-25 11:00:00,DK1,908.929993,121.830002,0.90893,1.87493,2.343662
12,2025-02-25T11:00:00,2025-02-25 12:00:00,DK1,884.090027,118.500000,0.88409,1.85009,2.312613
13,2025-02-25T12:00:00,2025-02-25 13:00:00,DK1,877.070007,117.559998,0.87707,1.84307,2.303838
14,2025-02-25T13:00:00,2025-02-25 14:00:00,DK1,928.030029,124.389999,0.92803,1.89403,2.367538
15,2025-02-25T14:00:00,2025-02-25 15:00:00,DK1,1004.719971,134.669998,1.00472,1.97072,2.463400
16,2025-02-25T15:00:00,2025-02-25 16:00:00,DK1,1178.479980,157.960007,1.17848,2.14448,2.680600
17,2025-02-25T16:00:00,2025-02-25 17:00:00,DK1,1454.300049,194.929993,1.45430,2.42030,3.025375
18,2025-02-25T17:00:00,2025-02-25 18:00:00,DK1,1610.010010,215.800003,1.61001,2.57601,3.220013
19,2025-02-25T18:00:00,2025-02-25 19:00:00,DK1,1338.810059,179.449997,1.33881,2.30481,2.881013
20,2025-02-25T19:00:00,2025-02-25 20:00:00,DK1,1158.410034,155.270004,1.15841,2.12441,2.655513
21,2025-02-25T20:00:00,2025-02-25 21:00:00,DK1,1036.810059,138.970001,1.03681,2.00281,2.503513
22,2025-02-25T21:00:00,2025-02-25 22:00:00,DK1,951.530029,127.540001,0.95153,1.91753,2.396913
23,2025-02-25T22:00:00,2025-02-25 23:00:00,DK1,858.940002,115.129997,0.85894,1.82494,2.281175