In [1]:
import requests
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
import pytz
import pandas as pd
import matplotlib.dates as mdates
import argparse

In [ ]:
price_area = 'dk1'.upper()

url = "https://api.energidataservice.dk/dataset/Elspotprices"
params = {
            'start': datetime.now(pytz.timezone('Europe/Copenhagen')).strftime('%Y-%m-%d'),
            'end': (datetime.now(pytz.timezone('Europe/Copenhagen')) + timedelta(days=1)).strftime('%Y-%m-%d'),
            'filter': f'{{"PriceArea":"{price_area}"}}',
            'sort': 'HourDK'
        }

response = requests.get(url, params=params)
response

In [7]:
print(response.text)

{"total":24,"filters":"{\"PriceArea\":\"DK1\"}","sort":"HourDK","dataset":"Elspotprices","records":[{"HourUTC":"2025-03-03T23:00:00","HourDK":"2025-03-04T00:00:00","PriceArea":"DK1","SpotPriceDKK":485.250000,"SpotPriceEUR":65.059998},{"HourUTC":"2025-03-04T00:00:00","HourDK":"2025-03-04T01:00:00","PriceArea":"DK1","SpotPriceDKK":487.709991,"SpotPriceEUR":65.389999},{"HourUTC":"2025-03-04T01:00:00","HourDK":"2025-03-04T02:00:00","PriceArea":"DK1","SpotPriceDKK":491.890015,"SpotPriceEUR":65.949997},{"HourUTC":"2025-03-04T02:00:00","HourDK":"2025-03-04T03:00:00","PriceArea":"DK1","SpotPriceDKK":454.589996,"SpotPriceEUR":60.950001},{"HourUTC":"2025-03-04T03:00:00","HourDK":"2025-03-04T04:00:00","PriceArea":"DK1","SpotPriceDKK":387.920013,"SpotPriceEUR":52.009998},{"HourUTC":"2025-03-04T04:00:00","HourDK":"2025-03-04T05:00:00","PriceArea":"DK1","SpotPriceDKK":378.820007,"SpotPriceEUR":50.790001},{"HourUTC":"2025-03-04T05:00:00","HourDK":"2025-03-04T06:00:00","PriceArea":"DK1","SpotPriceDKK":383.290009,"SpotPriceEUR":51.389999},{"HourUTC":"2025-03-04T06:00:00","HourDK":"2025-03-04T07:00:00","PriceArea":"DK1","SpotPriceDKK":491.510010,"SpotPriceEUR":65.900002},{"HourUTC":"2025-03-04T07:00:00","HourDK":"2025-03-04T08:00:00","PriceArea":"DK1","SpotPriceDKK":468.769989,"SpotPriceEUR":62.849998},{"HourUTC":"2025-03-04T08:00:00","HourDK":"2025-03-04T09:00:00","PriceArea":"DK1","SpotPriceDKK":456.679993,"SpotPriceEUR":61.230000},{"HourUTC":"2025-03-04T09:00:00","HourDK":"2025-03-04T10:00:00","PriceArea":"DK1","SpotPriceDKK":188.699997,"SpotPriceEUR":25.299999},{"HourUTC":"2025-03-04T10:00:00","HourDK":"2025-03-04T11:00:00","PriceArea":"DK1","SpotPriceDKK":98.900002,"SpotPriceEUR":13.260000},{"HourUTC":"2025-03-04T11:00:00","HourDK":"2025-03-04T12:00:00","PriceArea":"DK1","SpotPriceDKK":29.830000,"SpotPriceEUR":4.000000},{"HourUTC":"2025-03-04T12:00:00","HourDK":"2025-03-04T13:00:00","PriceArea":"DK1","SpotPriceDKK":30.129999,"SpotPriceEUR":4.040000},{"HourUTC":"2025-03-04T13:00:00","HourDK":"2025-03-04T14:00:00","PriceArea":"DK1","SpotPriceDKK":75.410004,"SpotPriceEUR":10.110000},{"HourUTC":"2025-03-04T14:00:00","HourDK":"2025-03-04T15:00:00","PriceArea":"DK1","SpotPriceDKK":224.279999,"SpotPriceEUR":30.070000},{"HourUTC":"2025-03-04T15:00:00","HourDK":"2025-03-04T16:00:00","PriceArea":"DK1","SpotPriceDKK":372.920013,"SpotPriceEUR":50.000000},{"HourUTC":"2025-03-04T16:00:00","HourDK":"2025-03-04T17:00:00","PriceArea":"DK1","SpotPriceDKK":558.719971,"SpotPriceEUR":74.910004},{"HourUTC":"2025-03-04T17:00:00","HourDK":"2025-03-04T18:00:00","PriceArea":"DK1","SpotPriceDKK":481.369995,"SpotPriceEUR":64.540001},{"HourUTC":"2025-03-04T18:00:00","HourDK":"2025-03-04T19:00:00","PriceArea":"DK1","SpotPriceDKK":315.570007,"SpotPriceEUR":42.310001},{"HourUTC":"2025-03-04T19:00:00","HourDK":"2025-03-04T20:00:00","PriceArea":"DK1","SpotPriceDKK":222.639999,"SpotPriceEUR":29.850000},{"HourUTC":"2025-03-04T20:00:00","HourDK":"2025-03-04T21:00:00","PriceArea":"DK1","SpotPriceDKK":188.919998,"SpotPriceEUR":25.330000},{"HourUTC":"2025-03-04T21:00:00","HourDK":"2025-03-04T22:00:00","PriceArea":"DK1","SpotPriceDKK":190.339996,"SpotPriceEUR":25.520000},{"HourUTC":"2025-03-04T22:00:00","HourDK":"2025-03-04T23:00:00","PriceArea":"DK1","SpotPriceDKK":154.320007,"SpotPriceEUR":20.690001}]}

## Og s√• tester vi koden

In [8]:
data = response.json().get('records', [])
data

[{'HourUTC': '2025-03-03T23:00:00',
  'HourDK': '2025-03-04T00:00:00',
  'PriceArea': 'DK1',
  'SpotPriceDKK': 485.25,
  'SpotPriceEUR': 65.059998},
 {'HourUTC': '2025-03-04T00:00:00',
  'HourDK': '2025-03-04T01:00:00',
  'PriceArea': 'DK1',
  'SpotPriceDKK': 487.709991,
  'SpotPriceEUR': 65.389999},
 {'HourUTC': '2025-03-04T01:00:00',
  'HourDK': '2025-03-04T02:00:00',
  'PriceArea': 'DK1',
  'SpotPriceDKK': 491.890015,
  'SpotPriceEUR': 65.949997},
 {'HourUTC': '2025-03-04T02:00:00',
  'HourDK': '2025-03-04T03:00:00',
  'PriceArea': 'DK1',
  'SpotPriceDKK': 454.589996,
  'SpotPriceEUR': 60.950001},
 {'HourUTC': '2025-03-04T03:00:00',
  'HourDK': '2025-03-04T04:00:00',
  'PriceArea': 'DK1',
  'SpotPriceDKK': 387.920013,
  'SpotPriceEUR': 52.009998},
 {'HourUTC': '2025-03-04T04:00:00',
  'HourDK': '2025-03-04T05:00:00',
  'PriceArea': 'DK1',
  'SpotPriceDKK': 378.820007,
  'SpotPriceEUR': 50.790001},
 {'HourUTC': '2025-03-04T05:00:00',
  'HourDK': '2025-03-04T06:00:00',
  'PriceArea': 'DK1',
  'SpotPriceDKK': 383.290009,
  'SpotPriceEUR': 51.389999},
 {'HourUTC': '2025-03-04T06:00:00',
  'HourDK': '2025-03-04T07:00:00',
  'PriceArea': 'DK1',
  'SpotPriceDKK': 491.51001,
  'SpotPriceEUR': 65.900002},
 {'HourUTC': '2025-03-04T07:00:00',
  'HourDK': '2025-03-04T08:00:00',
  'PriceArea': 'DK1',
  'SpotPriceDKK': 468.769989,
  'SpotPriceEUR': 62.849998},
 {'HourUTC': '2025-03-04T08:00:00',
  'HourDK': '2025-03-04T09:00:00',
  'PriceArea': 'DK1',
  'SpotPriceDKK': 456.679993,
  'SpotPriceEUR': 61.23},
 {'HourUTC': '2025-03-04T09:00:00',
  'HourDK': '2025-03-04T10:00:00',
  'PriceArea': 'DK1',
  'SpotPriceDKK': 188.699997,
  'SpotPriceEUR': 25.299999},
 {'HourUTC': '2025-03-04T10:00:00',
  'HourDK': '2025-03-04T11:00:00',
  'PriceArea': 'DK1',
  'SpotPriceDKK': 98.900002,
  'SpotPriceEUR': 13.26},
 {'HourUTC': '2025-03-04T11:00:00',
  'HourDK': '2025-03-04T12:00:00',
  'PriceArea': 'DK1',
  'SpotPriceDKK': 29.83,
  'SpotPriceEUR': 4.0},
 {'HourUTC': '2025-03-04T12:00:00',
  'HourDK': '2025-03-04T13:00:00',
  'PriceArea': 'DK1',
  'SpotPriceDKK': 30.129999,
  'SpotPriceEUR': 4.04},
 {'HourUTC': '2025-03-04T13:00:00',
  'HourDK': '2025-03-04T14:00:00',
  'PriceArea': 'DK1',
  'SpotPriceDKK': 75.410004,
  'SpotPriceEUR': 10.11},
 {'HourUTC': '2025-03-04T14:00:00',
  'HourDK': '2025-03-04T15:00:00',
  'PriceArea': 'DK1',
  'SpotPriceDKK': 224.279999,
  'SpotPriceEUR': 30.07},
 {'HourUTC': '2025-03-04T15:00:00',
  'HourDK': '2025-03-04T16:00:00',
  'PriceArea': 'DK1',
  'SpotPriceDKK': 372.920013,
  'SpotPriceEUR': 50.0},
 {'HourUTC': '2025-03-04T16:00:00',
  'HourDK': '2025-03-04T17:00:00',
  'PriceArea': 'DK1',
  'SpotPriceDKK': 558.719971,
  'SpotPriceEUR': 74.910004},
 {'HourUTC': '2025-03-04T17:00:00',
  'HourDK': '2025-03-04T18:00:00',
  'PriceArea': 'DK1',
  'SpotPriceDKK': 481.369995,
  'SpotPriceEUR': 64.540001},
 {'HourUTC': '2025-03-04T18:00:00',
  'HourDK': '2025-03-04T19:00:00',
  'PriceArea': 'DK1',
  'SpotPriceDKK': 315.570007,
  'SpotPriceEUR': 42.310001},
 {'HourUTC': '2025-03-04T19:00:00',
  'HourDK': '2025-03-04T20:00:00',
  'PriceArea': 'DK1',
  'SpotPriceDKK': 222.639999,
  'SpotPriceEUR': 29.85},
 {'HourUTC': '2025-03-04T20:00:00',
  'HourDK': '2025-03-04T21:00:00',
  'PriceArea': 'DK1',
  'SpotPriceDKK': 188.919998,
  'SpotPriceEUR': 25.33},
 {'HourUTC': '2025-03-04T21:00:00',
  'HourDK': '2025-03-04T22:00:00',
  'PriceArea': 'DK1',
  'SpotPriceDKK': 190.339996,
  'SpotPriceEUR': 25.52},
 {'HourUTC': '2025-03-04T22:00:00',
  'HourDK': '2025-03-04T23:00:00',
  'PriceArea': 'DK1',
  'SpotPriceDKK': 154.320007,
  'SpotPriceEUR': 20.690001}]

In [ ]:
#if not data:
#    raise ValueError(f"Ingen prisdata modtaget fra API'et for region {region}")
                

df = pd.DataFrame(data)
df

,HourUTC,HourDK,PriceArea,SpotPriceDKK,SpotPriceEUR
0,2025-03-03T23:00:00,2025-03-04T00:00:00,DK1,485.250000,65.059998
1,2025-03-04T00:00:00,2025-03-04T01:00:00,DK1,487.709991,65.389999
2,2025-03-04T01:00:00,2025-03-04T02:00:00,DK1,491.890015,65.949997
3,2025-03-04T02:00:00,2025-03-04T03:00:00,DK1,454.589996,60.950001
4,2025-03-04T03:00:00,2025-03-04T04:00:00,DK1,387.920013,52.009998
5,2025-03-04T04:00:00,2025-03-04T05:00:00,DK1,378.820007,50.790001
6,2025-03-04T05:00:00,2025-03-04T06:00:00,DK1,383.290009,51.389999
7,2025-03-04T06:00:00,2025-03-04T07:00:00,DK1,491.510010,65.900002
8,2025-03-04T07:00:00,2025-03-04T08:00:00,DK1,468.769989,62.849998
9,2025-03-04T08:00:00,2025-03-04T09:00:00,DK1,456.679993,61.230000
10,2025-03-04T09:00:00,2025-03-04T10:00:00,DK1,188.699997,25.299999
11,2025-03-04T10:00:00,2025-03-04T11:00:00,DK1,98.900002,13.260000
12,2025-03-04T11:00:00,2025-03-04T12:00:00,DK1,29.830000,4.000000
13,2025-03-04T12:00:00,2025-03-04T13:00:00,DK1,30.129999,4.040000
14,2025-03-04T13:00:00,2025-03-04T14:00:00,DK1,75.410004,10.110000
15,2025-03-04T14:00:00,2025-03-04T15:00:00,DK1,224.279999,30.070000
16,2025-03-04T15:00:00,2025-03-04T16:00:00,DK1,372.920013,50.000000
17,2025-03-04T16:00:00,2025-03-04T17:00:00,DK1,558.719971,74.910004
18,2025-03-04T17:00:00,2025-03-04T18:00:00,DK1,481.369995,64.540001
19,2025-03-04T18:00:00,2025-03-04T19:00:00,DK1,315.570007,42.310001
20,2025-03-04T19:00:00,2025-03-04T20:00:00,DK1,222.639999,29.850000
21,2025-03-04T20:00:00,2025-03-04T21:00:00,DK1,188.919998,25.330000
22,2025-03-04T21:00:00,2025-03-04T22:00:00,DK1,190.339996,25.520000
23,2025-03-04T22:00:00,2025-03-04T23:00:00,DK1,154.320007,20.690001

In [13]:
# Konvert√©r til pandas DataFrame for nemmere databehandling
df['HourDK'] = pd.to_datetime(df['HourDK'])

print (type(df['HourDK']))

hourdk_series = df['HourDK']

hourdk_series

<class 'pandas.core.series.Series'>

0    2025-03-04 00:00:00
1    2025-03-04 01:00:00
2    2025-03-04 02:00:00
3    2025-03-04 03:00:00
4    2025-03-04 04:00:00
5    2025-03-04 05:00:00
6    2025-03-04 06:00:00
7    2025-03-04 07:00:00
8    2025-03-04 08:00:00
9    2025-03-04 09:00:00
10   2025-03-04 10:00:00
11   2025-03-04 11:00:00
12   2025-03-04 12:00:00
13   2025-03-04 13:00:00
14   2025-03-04 14:00:00
15   2025-03-04 15:00:00
16   2025-03-04 16:00:00
17   2025-03-04 17:00:00
18   2025-03-04 18:00:00
19   2025-03-04 19:00:00
20   2025-03-04 20:00:00
21   2025-03-04 21:00:00
22   2025-03-04 22:00:00
23   2025-03-04 23:00:00
Name: HourDK, dtype: datetime64[ns]

In [ ]:


# Konvert√©r √∏re/kWh til kr/kWh (SpotPriceDKK er i kr/MWh)
df['SpotPriceDKK_kWh'] = df['SpotPriceDKK'] / 1000

# Tilf√∏j afgifter (dette er eksempelv√¶rdier - brug aktuelle satser)
moms_rate = 0.25  # 25% moms
elafgift = 0.699  # kr/kWh (eksempelv√¶rdi)
systemtarif = 0.054  # kr/kWh (eksempelv√¶rdi)
nettarif = 0.213  # kr/kWh (eksempelv√¶rdi)

# Beregn total pris inklusive afgifter
df['TotalPris'] = df['SpotPriceDKK_kWh'] + elafgift + systemtarif + nettarif
df['TotalPrisMedMoms'] = df['TotalPris'] * (1 + moms_rate)

In [ ]:
df

In [14]:
# Find nuv√¶rende time
nu = datetime.now(pytz.timezone('Europe/Copenhagen'))
aktuel_time = nu.replace(minute=0, second=0, microsecond=0)

nu

datetime.datetime(2025, 3, 4, 20, 11, 32, 835035, tzinfo=<DstTzInfo 'Europe/Copenhagen' CET+1:00:00 STD>)

In [15]:
aktuel_time

datetime.datetime(2025, 3, 4, 20, 0, tzinfo=<DstTzInfo 'Europe/Copenhagen' CET+1:00:00 STD>)

In [17]:
print (aktuel_time)

2025-03-04 20:00:00+01:00